<div class="mt-3">
  <div class="row">
    <div class="col-sm-8 pb-3">
      <mat-chip-list [multiple]="true">
        <mat-chip [selected]="selectedGenre.includes(genre)" *ngFor="let genre of genreList" (click)="onGetMoviesByGenre(genre)"
          style="font-weight: 400; margin-top: 8px;">{{genre | titlecase}}</mat-chip>
        <button *ngIf="selectedGenre.length" (click)="removeGenreFilter()" class="no-outline" mat-icon-button color="primary">
          <mat-icon>clear</mat-icon>
        </button>
      </mat-chip-list>

    </div>

    <div class="col-sm-4 text-right">
      <button *ngIf="isLoggedIn" (click)="openDialog()" class="no-outline" mat-icon-button color="primary">
        <mat-icon>add_circle_outline</mat-icon>
      </button>
      <a *ngIf="!isLoggedIn" routerLink="/login" class="no-outline" mat-icon-button color="primary">
        <mat-icon>login</mat-icon>
      </a>
      <a *ngIf="isLoggedIn" (click)="onLogout()" class="no-outline" mat-icon-button color="primary">
        <mat-icon>logout</mat-icon>
      </a>
    </div>
  </div>
  <div class="row">
    <!-- Search form -->
    <div class="col-sm-4">
      <input [(ngModel)]="searchValue" class="form-control" style="display: inline-block; width: 80%;" type="text"
        placeholder="Search movie name" aria-label="Search">
      <button (click)="onSearchClick()" class="no-outline" mat-icon-button color="primary">
        <mat-icon>search</mat-icon>
      </button>
    </div>
    <div class="col-sm-2">
      <select [(ngModel)]="sortBy" (change)="onSortByChange()" class="form-control">
        <option value="" hidden>Sort By</option>
        <option *ngFor="let food of ['popularity','name','director']" [value]="food">
          {{food | titlecase}}
        </option>
      </select>
    </div>
    <div *ngIf="searchValue || sortBy" class="col-sm-2">
      <button (click)="onClear()" class="no-outline" mat-icon-button color="primary">
        <mat-icon>clear</mat-icon>
      </button>
    </div>
  </div>
  <div class="row">
    <div *ngFor="let movie of movies" class="col-sm-4">
      <mat-card class="my-3" style="border-radius: 5px; max-height: 35vh;min-height: 35vh;">
        <mat-card-subtitle>
          <span style="font-size: 1.3em;">{{movie.name}}</span>
        </mat-card-subtitle>
        <mat-card-content>
          <div style="display: inline-block; width: 60%;">
            Director - {{movie.director}}
            <br>
            Popularity - {{movie.popularity}}%
            <br>
            <span>Rating - {{movie.imdb_score}}</span>
          </div>
          <div *ngIf="isLoggedIn" style="display: inline-block; width: 35%;">
            <div class="text-right">
              <button (click)="openDialog(movie)" class="no-outline" mat-icon-button color="primary">
                <mat-icon>edit</mat-icon>
              </button><br>
              <button (click)="onMovieDelete(movie)" class="no-outline" mat-icon-button color="warn">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </div>
          <br>
          Genre - <span *ngFor="let genre of movie.genre" style="color: rgb(10, 117, 184);">{{genre | titlecase}},
          </span>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div *ngIf="loadMoreFlag" class="row">
    <div class="col-sm-12">
      <p class="text-center">
        <a (click)="loadMoreMovies()" style="cursor: pointer; text-decoration: none;">Load More</a>
      </p>
    </div>
  </div>
</div>